<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Colecciones', stylesheet: 'products/collections.css'}) %>
    
    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main class="main-collections">
            <h2 class="main-title-collections">Colecciones</h2>
            <ul class="ul-collections">
                <% for( let collection of collections ) { %>
                    <li class="li-collections"><%= collection.collectionName %></li>
                <% } %>
            </ul>
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

    </body>

</html>