<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Productos', stylesheet: 'listProducts.css'}) %>
    
    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main></main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

    </body>

</html>