<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('../partials/head', {title: 'Detalle Producto', stylesheet: 'products/productDetail.css'}) %>

  <body>

    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- MAIN -->
    <main class="main-productDetail">
      <div class="main-product-detail">
        <div>
          <div class="slider">
            <!-- <div class="icon-arrow">
              <i class="fa-solid fa-chevron-left"></i>
            </div> -->

            <div class="slider-img"><i class="fa-solid fa-image"></i></div>

            <!-- <div class="icon-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div> -->

            <div class="flechas-main-banner">
              <i class="fa-solid fa-angle-left"></i>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="icons">
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
          </div>
        </div>

        <div class="cnt-product-detail">
          <div>
            <div class="prd-name-general"><p>Colección Classic</p></div>
            <div class="prd-name"><p>Funda iPhone 10</p></div>
            <div class="prd-price"><p>$2.100</p></div>

            <div class="prd-stars">
              <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div>
                <p class="prd-star-text">5 reseñas</p>
              </div>
            </div>
            <div class="prd-buy-cnt">
              <div class="prd-buy">
                <p>COMPRA YA!</p>
              </div>

              <div class="icon-numbers">
                <div class="icon-minus">
                  <i class="fa-solid fa-minus"></i>
                </div>

                <div class="cnt-number">
                  <p class="text-number">1</p>
                </div>
                <div class="icon-plus">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="prd-add-cart">
              <p>Agregar al carrito</p>
              <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
          </div>
        </div>

        <div>
          <div class="prd-features">
            <p>Especificaciones / Descripción</p>
            <button class="button-props">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="prd-features">
            <p>Medios de Pago y Envío</p>
            <button class="button-props">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="prd-features">
            <p>Reseñas</p>
            <button class="button-props">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <section class="seccion-product-plus">
        <h3 class="h3-seccion-plus">Productos similares...</h3>
        <!-- <div class="icon-left-plus">
          <i class="fa-solid fa-angle-left"></i>
        </div> -->
        <div class="images-products-plus">
          <div class="product-plus">
            <img
              src="/img/ipad-air.png"
              alt="Ipad Air"
              class="img-product-plus"
            />
            <div class="info-product-plus">
              <p class="title-product-plus">Ipad Air</p>
              <p class="price-product-plus">$ 234.405</p>
              <p class="description-product-plus">Apple Aipad Air</p>
            </div>
          </div>
          <div class="images-products-plus">
            <div class="product-plus">
              <img
                src="/img/iphone13.png"
                alt="Ipad Air"
                class="img-product-plus"
              />
              <div class="info-product-plus">
                <p class="title-product-plus">Iphone 13 PRO</p>
                <p class="price-product-plus">$ 345.340</p>
                <p class="description-product-plus">Apple Iphone 13 PRO</p>
              </div>
            </div>
          </div>
          <div class="images-products-plus">
            <div class="product-plus">
              <img
                src="/img/playstation-5.png"
                alt="Ipad Air"
                class="img-product-plus"
              />
              <div class="info-product-plus">
                <p class="title-product-plus">Playstation 5</p>
                <p class="price-product-plus">$ 650.400</p>
                <p class="description-product-plus">Sony Playstation 5</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="icon-right-plus">
          <i class="fa-solid fa-angle-right"></i>
        </div> -->
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>

  </body>
</html>