<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle Producto</title>
    <!-- Ícono en la pestaña arriba -->
    <link rel="shortcut icon" href="/img/logo.svg" />
    <!-- Link a Google Fonts para la fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Link a Font Awesome para los íconos -->
    <script
      src="https://kit.fontawesome.com/df86f883d1.js"
      crossorigin="anonymous"
    ></script>
    <!-- Link a mi CSS -->
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="shortcut icon" href="/img/logo-pestana.svg" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="main-header">
      <!-- BARRA DE NAVEGACIÓN DE LA IZQUIERDA -->
      <nav class="left-navbar">
        <ul>
          <!-- OPCIÓN PRODUCTOS -->
          <li class="options-left-navbar">
            <a href="#">Productos</a>

            <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN PRODUCTOS -->
            <div class="second-left-navbar">
              <ul>
                <li class="second-options-left-navbar">
                  <a href="#">Smartphones</a>
                </li>
                <li class="second-options-left-navbar">
                  <a href="#">Tablets</a>
                </li>
                <li class="second-options-left-navbar">
                  <a href="#">Laptops y Desktops</a>
                </li>
                <li class="second-options-left-navbar">
                  <a href="#">Consolas y Gaming</a>
                </li>
                <li class="second-options-left-navbar">
                  <a href="#">Redes</a>
                </li>
                <li
                  class="second-options-left-navbar second-options-left-navbar-with-third-navbar"
                >
                  <div class="option-left-navbar-with-icon">
                    <a href="#">Accesorios</a>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>

                  <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN ACCESORIOS DE PRODUCTOS -->
                  <div class="third-left-navbar">
                    <ul>
                      <li class="third-options-left-navbar">
                        <a href="#">Fundas</a>
                      </li>
                      <li class="third-options-left-navbar">
                        <a href="#">Teclados</a>
                      </li>
                      <li class="third-options-left-navbar">
                        <a href="#">Mouse</a>
                      </li>
                      <li class="third-options-left-navbar">
                        <a href="#">Altavoces</a>
                      </li>
                      <li class="third-options-left-navbar">
                        <a href="#">Audífonos</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <!-- OPCIÓN DESCUBRE -->
          <li class="options-left-navbar">
            <a href="#">Descubre</a>

            <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN DESCUBRE -->
            <div class="second-left-navbar">
              <ul>
                <li
                  class="second-options-left-navbar second-options-left-navbar-with-third-navbar"
                >
                  <div class="option-left-navbar-with-icon">
                    <a href="#">Colecciones</a>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>

                  <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN COLECCIONES DE DESCUBRE -->
                  <div class="third-left-navbar">
                    <ul>
                      <li class="third-options-left-navbar">
                        <a href="#">Modern</a>
                      </li>
                      <li class="third-options-left-navbar">
                        <a href="#">Classic</a>
                      </li>
                      <li class="third-options-left-navbar">
                        <a href="#">Colorful</a>
                      </li>
                      <li class="third-options-left-navbar">
                        <a href="#">Black & White</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="second-options-left-navbar">
                  <a href="#">Best Sellers</a>
                </li>
                <li class="second-options-left-navbar">
                  <a href="#">Ofertas</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- OPCIÓN CONTACTO -->
          <li class="options-left-navbar">
            <a href="#">Contacto</a>

            <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN CONTACTO -->
            <div class="second-left-navbar">
              <ul>
                <li class="second-options-left-navbar">
                  <a href="#">Acerca de Techlogic.store</a>
                </li>
                <li class="second-options-left-navbar">
                  <a href="#">Métodos de Pago</a>
                </li>
                <li class="second-options-left-navbar">
                  <a href="#">Preguntas frecuentes</a>
                </li>
                <li class="second-options-left-navbar">
                  <a href="#">Soporte al Cliente</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>

      <!-- BURGER MENÚ DE LA VERSIÓN MOBILE -->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <!-- LOGO -->
      <div class="logo">
        <a href="/"><img src="/img/logo.svg" alt="Logo Techlogic.store" /></a>
      </div>

      <!-- BARRA DE NAVEGACIÓN DE LA DERECHA -->
      <nav class="right-navbar">
        <ul>
          <!-- ÍCONO DE LUPA -->
          <li class="icono-right-navbar">
            <i class="fa-solid fa-magnifying-glass"></i>
          </li>

          <!-- ÍCONO DE USUARIO -->
          <li class="icono-right-navbar">
            <a href="/login"><i class="fa-solid fa-user"></i></a>

            <!-- MENÚ QUE SE DESPLIEGA DEL ÍCONO DEL USUARIO CUANDO YA SE INICIÓ SESIÓN -->
            <div class="profile-menu-full">
              <div class="image-profile-menu">
                <img
                  src="/img/foto-de-perfil.jpg"
                  alt="Foto de perfil del usuario"
                />
              </div>
              <div class="info-profile-menu">
                <p>Username</p>
                <p>Dirección</p>
              </div>
              <div class="link-profile-menu">
                <a href="#">Ver perfil...</a>
              </div>
            </div>

            <!-- MENÚ QUE SE DESPLIEGA DEL ÍCONO DEL USUARIO CUANDO AÚN NO SE HA INICIADO SESIÓN -->
            <div class="profile-menu-empty">
              <a href="/login">Ir a Iniciar Sesión...</a>
            </div>
          </li>

          <!-- ÍCONO DE CARRITO -->
          <li class="icono-right-navbar">
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
        </ul>
      </nav>

      <!-- BARRA DE BÚSQUEDA -->
      <div class="search-bar">
        <form action="/" method="POST">
          <input
            type="search"
            name="search-header"
            id="search-header"
            class="input-search-bar-header"
          />
          <div class="inside-search-bar-header">
            <i class="fa-solid fa-magnifying-glass"></i>
            <label for="search-header" class="label-search-bar">
              Buscar...
            </label>
            <button class="button-X-search-bar">
              <i class="fa-solid fa-x"></i>
            </button>
          </div>
        </form>
      </div>

      <!-- SLIDE MENÚ DE LA VERSIÓN MOBILE -->
      <div class="slide-menu">
        <!-- HEADER DEL SLIDE-MENU -->
        <header class="header-slide-menu">
          <!-- ÍCONO DE LA X -->
          <div class="icono-x">
            <i class="fa-solid fa-x"></i>
          </div>

          <!-- LOGO -->
          <img
            src="/img/logo.svg"
            alt="Logo de Techlogic.store"
            class="logo-slide-menu"
          />
        </header>

        <!-- BARRA DE NAVEGACIÓN DEL SLIDE MENU DE LA VERSIÓN MOBILE -->
        <nav class="navbar-slide-menu">
          <ul>
            <!-- OPCIÓN PRODUCTOS -->
            <li class="options-navbar-slide-menu">
              <div class="option-navbar-with-icon">
                <a href="#">Productos</a>
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
              </div>

              <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN PRODUCTOS -->
              <div class="second-navbar-slide-menu">
                <ul>
                  <li><a href="#">Smartphones</a></li>
                  <li><a href="#">Tablets</a></li>
                  <li><a href="#">Laptops y Desktops</a></li>
                  <li><a href="#">Consolas y Gaming</a></li>
                  <li><a href="#">Redes</a></li>
                  <li>
                    <div class="option-navbar-with-icon">
                      <a href="#">Accesorios</a>
                      <i class="fa-solid fa-plus"></i>
                      <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
                    </div>

                    <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN ACCESORIOS DE PRODUCTOS -->
                    <div class="third-navbar-slide-menu">
                      <ul>
                        <li><a href="#">Fundas</a></li>
                        <li><a href="#">Teclados</a></li>
                        <li><a href="#">Mouse</a></li>
                        <li><a href="#">Altavoces</a></li>
                        <li><a href="#">Audífonos</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

            <!-- OPCIÓN DESCUBRE -->
            <li class="options-navbar-slide-menu">
              <div class="option-navbar-with-icon">
                <a href="#">Descubre</a>
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
              </div>

              <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN DESCUBRE -->
              <div class="second-navbar-slide-menu">
                <ul>
                  <li>
                    <div class="option-navbar-with-icon">
                      <a href="#">Colecciones</a>
                      <i class="fa-solid fa-plus"></i>
                      <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
                    </div>

                    <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN COLECCIONES DE DESCUBRE -->
                    <div class="third-navbar-slide-menu">
                      <ul>
                        <li><a href="#">Modern</a></li>
                        <li><a href="#">Classic</a></li>
                        <li><a href="#">Colorful</a></li>
                        <li><a href="#">Black & White</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Best Sellers</a></li>
                  <li><a href="#">Ofertas</a></li>
                </ul>
              </div>
            </li>

            <!-- OPCIÓN CONTACTO -->
            <li class="options-navbar-slide-menu">
              <div class="option-navbar-with-icon">
                <a href="#">Contacto</a>
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
              </div>

              <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN CONTACTO -->
              <div class="second-navbar-slide-menu">
                <ul>
                  <li><a href="#">Acerca de Techlogic.store</a></li>
                  <li><a href="#">Métodos de Pago</a></li>
                  <li><a href="#">Preguntas frecuentes</a></li>
                  <li><a href="#">Soporte al Cliente</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>

        <!-- PIE DE PÁGINA DEL SLIDE-MENU -->
        <footer class="footer-slide-menu">
          <!-- PERFIL DEL USUARIO EN EL SLIDE-MENU DE LA VERSIÓN MOBILE -->
          <div class="profile-slide-menu">
            <!-- PERFIL DEL USUARIO SI NO HA INICIADO SESIÓN -->
            <div class="profile-slide-menu-empty">
              <a href="/login">Iniciar Sesión</a>
              <a href="/register">Regístrate</a>
            </div>

            <!-- PERFIL DEL USUARIO SI YA INICIÓ SESIÓN -->
            <div class="profile-slide-menu-full">
              <div class="img-slider-menu">
                <img
                  src="/img/foto-de-perfil.jpg"
                  alt="Foto de perfil del usuario"
                />
              </div>
              <p>Nombre de Usuario</p>
            </div>
          </div>

          <!-- REDES SOCIALES EN EL SLIDE-MENU DE LA VERSIÓN MOBILE -->
          <div class="social-media-slide-menu">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i>
          </div>
        </footer>
      </div>
    </header>

    <main class="main-productDetail">
      <div class="main-product-detail">
        <div>
          <div class="slider">
            <!-- <div class="icon-arrow">
              <i class="fa-solid fa-chevron-left"></i>
            </div> -->

            <div class="slider-img"><i class="fa-solid fa-image"></i></div>

            <!-- <div class="icon-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div> -->

            <div class="flechas-main-banner">
              <i class="fa-solid fa-angle-left"></i>
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
          <div class="icons">
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
            <div class="icons-dots">
              <i class="fa-solid fa-circle"></i>
            </div>
          </div>
        </div>

        <div class="cnt-product-detail">
          <div>
            <div class="prd-name-general"><p>Colección Classic</p></div>
            <div class="prd-name"><p>Funda iPhone 10</p></div>
            <div class="prd-price"><p>$2.100</p></div>

            <div class="prd-stars">
              <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div>
                <p class="prd-star-text">5 reseñas</p>
              </div>
            </div>
            <div class="prd-buy-cnt">
              <div class="prd-buy">
                <p>COMPRA YA!</p>
              </div>

              <div class="icon-numbers">
                <div class="icon-minus">
                  <i class="fa-solid fa-minus"></i>
                </div>

                <div class="cnt-number">
                  <p class="text-number">1</p>
                </div>
                <div class="icon-plus">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="prd-add-cart">
              <p>Agregar al carrito</p>
              <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
          </div>
        </div>

        <div>
          <div class="prd-features">
            <p>Especificaciones / Descripción</p>
            <button class="button-props">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="prd-features">
            <p>Medios de Pago y Envío</p>
            <button class="button-props">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="prd-features">
            <p>Reseñas</p>
            <button class="button-props">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <section class="seccion-product-plus">
        <h3 class="h3-seccion-plus">Productos similares...</h3>
        <!-- <div class="icon-left-plus">
          <i class="fa-solid fa-angle-left"></i>
        </div> -->
        <div class="images-products-plus">
          <div class="product-plus">
            <img
              src="/img/ipad-air.png"
              alt="Ipad Air"
              class="img-product-plus"
            />
            <div class="info-product-plus">
              <p class="title-product-plus">Ipad Air</p>
              <p class="price-product-plus">$ 234.405</p>
              <p class="description-product-plus">Apple Aipad Air</p>
            </div>
          </div>
          <div class="images-products-plus">
            <div class="product-plus">
              <img
                src="/img/iphone13.png"
                alt="Ipad Air"
                class="img-product-plus"
              />
              <div class="info-product-plus">
                <p class="title-product-plus">Iphone 13 PRO</p>
                <p class="price-product-plus">$ 345.340</p>
                <p class="description-product-plus">Apple Iphone 13 PRO</p>
              </div>
            </div>
          </div>
          <div class="images-products-plus">
            <div class="product-plus">
              <img
                src="/img/playstation-5.png"
                alt="Ipad Air"
                class="img-product-plus"
              />
              <div class="info-product-plus">
                <p class="title-product-plus">Playstation 5</p>
                <p class="price-product-plus">$ 650.400</p>
                <p class="description-product-plus">Sony Playstation 5</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="icon-right-plus">
          <i class="fa-solid fa-angle-right"></i>
        </div> -->
      </section>
    </main>

    <!-- FOOTER -->
    <footer class="main-footer">
      <!-- SECCIÓN DE LA BARRA DE BÚSQUEDA Y LAS REDES SOCIALES -->
      <section class="sections-footer">
        <!-- BARRA DE BÚSQUEDA -->
        <div class="search-bar-footer">
          <form action="/" method="POST">
            <input type="search" name="search-footer" id="search-footer" />
            <div class="inside-search-bar-footer">
              <label for="search-footer">Buscar...</label>
              <button class="button-search-bar-footer">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>
        </div>

        <!-- REDES SOCIALES -->
        <div class="social-media-footer">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </section>

      <!-- SECCIÓN PRODUCTOS DEL FOOTER -->
      <section class="sections-footer">
        <a href="#" class="title-sections-footer"> Productos </a>
        <a href="#" class="enlaces-sections-footer"> Colecciones </a>
        <a href="#" class="enlaces-sections-footer"> Best Sellers </a>
        <a href="#" class="enlaces-sections-footer"> Ofertas </a>
      </section>

      <!-- SECCIÓN CONTACTO DEL FOOTER -->
      <section class="sections-footer">
        <a href="#" class="title-sections-footer"> Contacto </a>
        <a href="#" class="enlaces-sections-footer"> Acerca de Nosotros </a>
        <a href="#" class="enlaces-sections-footer"> Soporte al Cliente </a>
        <a href="#" class="enlaces-sections-footer"> Preguntas frecuentes </a>
      </section>

      <!-- SECCIÓN DEL LOGO Y DE INOFO DE LA EMPRESA -->
      <section class="sections-footer">
        <div class="logo-info-footer">
          <!-- LOGO -->
          <div class="logo-footer">
            <img src="/img/logo-alternativo.svg" alt="Logo de Techlogic.store" />
          </div>

          <!-- INFO DE LA EMPRESA -->
          <div class="info-company-footer">
            <p>Ciudad Unknown</p>
            <p>111-2345678</p>
            <p>info@techlogic.com</p>
          </div>
        </div>
      </section>

      <!-- COPYRIGHT -->
      <section class="copyright">
        <p>Copyright © 2022</p>

        <!-- INFO DERECHA COPYRIGHT -->
        <div class="info-copyright">
          <p>Términos</p>
          <p>Privacidad</p>
          <p>Cookies</p>
        </div>
      </section>
    </footer>
  </body>
</html>