<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mi Carrito</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="cart-header">
      <!-- BURGER MENÚ DE LA VERSIÓN MOBILE -->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <!-- LOGO -->
      <div class="logo">
        <a href="#"><img src="img/logo.svg" alt="Logo Techlogic.store" /></a>
      </div>
      <nav class="right-navbar">
        <ul>
          <!-- ÍCONO DE LUPA -->
          <li class="icono-right-navbar">
            <i class="fa-solid fa-magnifying-glass"></i>
          </li>
          <!-- ÍCONO DE USUARIO -->
          <li class="icono-right-navbar">
            <i class="fa-solid fa-user"></i>
          </li>
        </ul>
      </nav>
      <!-- BARRA DE BÚSQUEDA -->
      <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p>Buscar...</p>
        <i class="fa-solid fa-x"></i>
      </div>
    </header>

    <main class="main-cart">
      <section class="list-product">
        <div class="my-cart">
          <h3><i class="fa-solid fa-cart-shopping cart"></i> Mi Carrito</h3>
        </div>
        <article class="articles">
          <div class="item-cart">
            <img
              class="img-article"
              src="/img/mouse-logi.jpg"
              alt="Iphone 13"
            />
            <div>
              <ul class="product-detail-cart">
                <li class="title-product">Mouse Logitech G603</li>
                <li>Categoía de Producto</li>
                <li>Descripción de producto</li>
              </ul>
            </div>
            <div>
              <ul class="add-item">
                <li>$6.435,00</li>
                <div class="add-item-icons">
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-left icon-cant"></i
                    ></a>
                  </div>
                  <li class="cantidad">1</li>
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-right icon-cant"></i
                    ></a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </article>
        <article class="articles">
          <div class="item-cart">
            <img class="img-article" src="/img/iphone13.jpg" alt="Iphone 13" />
            <div>
              <ul class="product-detail-cart">
                <li class="title-product">Iphone 13</li>
                <li>Categoía de Producto</li>
                <li>Descripción de producto</li>
              </ul>
            </div>
            <div>
              <ul class="add-item">
                <li>$234.500,00</li>
                <div class="add-item-icons">
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-left icon-cant"></i
                    ></a>
                  </div>
                  <li class="cantidad">1</li>
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-right icon-cant"></i
                    ></a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </article>
        <section class="close-cart">
        <div class="title-close">
          <h3>Total Compra</h3>
        </div>
          <div class="liqu">
            <div class="list-descript">
              <ul>
                <li>Subtotal</li>
                <li>Impuesto</li>
                <li><h3>Monto Total</h3></li>
              </ul>
            </div>
            <div class="list-descript">
              <ul>
                <li>Precio subtotal</li>
                <li>impuestos</li>
                <li><h3>Total</h3></li>
              </ul>
            </div>
          </div>
          <div>
            <button class="button-cart">Compra</button>
          </div>
        </section>
      </section>
    </main>
    <footer>
      <!--  ----------------- IGUAL AL INDEX ------------------- -->
    </footer>
  </body>
</html>
