<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- -----------------  IGUAL AL INDEX ------------------ -->
    </header>
    <main>
      <section class="list-product">
        <div class="my-cart">
          <h3><i class="fa-solid fa-cart-shopping cart"></i> Mi Carrito</h3>
        </div>
        <article class="articles">
          <div class="">
            <img
              class="img-article"
              src="/img/mouse-logi.jpg"
              alt="Mouse Logitech"
            />
          </div>
          <div class="article-detail">
            <div class="foot-product">
              <p class="title-product">Mouse Logitech G603</p>
              <p class="cat-product">Categoria de producto</p>
              <p class="description-product">
                Mouse Logitech G603 GAMING LigthSpeed
              </p>
            </div>
            <div class="add-item">
              <p>Precio</p>
              <p class="cantidad">1</p>
            </div>
          </div>
        </article>
        <article class="articles">
          <div class="">
            <img class="img-article" src="/img/iphone13.jpg" alt="Iphone 13" />
          </div>
          <div class="article-detail">
            <div class="foot-product">
              <p class="title-product">Iphone 13</p>
              <p class="cat-product">Categoria de producto</p>
              <p class="description-product">Descripcion de producto</p>
            </div>
            <div class="add-item">
              <p>Precio</p>
              <p class="cantidad">1</p>
            </div>
          </div>
        </article>
        <!-- <article class="articles">
                <div class="">
                    <img src="" alt="">
                </div>
                <div class="article-detail">
                    <p class="title-product">Titulo de producto</p>
                    <p class="cat-product">Categoria de producto</p>
                    <p class="description-product">Descripcion de producto</p>
                </div>
            </article> -->
      </section>
    </main>
    <footer>
      <!--  ----------------- IGUAL AL INDEX ------------------- -->
    </footer>
  </body>
</html>
