<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mi Carrito</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="cart-header">
      <!-- BURGER MENÚ DE LA VERSIÓN MOBILE -->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <!-- LOGO -->
      <div class="logo">
        <a href="/"><img src="img/logo.svg" alt="Logo Techlogic.store" /></a>
      </div>

      <!-- BARRA DE NAVEGACIÓN DE LA DERECHA -->
      <nav class="right-navbar">
        <ul>
          <!-- ÍCONO DE LUPA -->
          <li class="icono-right-navbar">
            <i class="fa-solid fa-magnifying-glass"></i>
          </li>
          <!-- ÍCONO DE USUARIO -->
          <li class="icono-right-navbar">
            <i class="fa-solid fa-user"></i>

            <!-- MENÚ QUE SE DESPLIEGA DEL ÍCONO DEL USUARIO -->
            <div class="profile-menu">
              <div class="image-profile-menu">
                <img
                  src="img/foto-de-perfil.jpg"
                  alt="Foto de perfil del usuario"
                />
              </div>
              <div class="info-profile-menu">
                <p>Username</p>
                <p>Dirección</p>
              </div>
              <div class="link-profile-menu">
                <a href="#">Ver perfil...</a>
              </div>
            </div>
          </li>

          <!-- ÍCONO DE CARRITO -->
          <li class="icono-right-navbar">
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
        </ul>
      </nav>
      <!-- BARRA DE BÚSQUEDA -->
      <div class="search-bar">
        <!-- <i class="fa-solid fa-magnifying-glass"></i>
              <p>Buscar...</p>
              <i class="fa-solid fa-x"></i> -->

        <form action="/" method="POST">
          <input type="search" name="search-header" id="search-header" />
          <div class="inside-search-bar-header">
            <i class="fa-solid fa-magnifying-glass"></i>
            <label for="search-header"> Buscar... </label>
            <i class="fa-solid fa-x"></i>
          </div>
        </form>
      </div>

      <!-- SLIDE MENÚ DE LA VERSIÓN MOBILE -->
      <div class="slide-menu">
        <!-- HEADER DEL SLID-MENU -->
        <header class="header-slide-menu">
          <!-- ÍCONO DE LA X -->
          <div class="icono-x">
            <i class="fa-solid fa-x"></i>
          </div>

          <!-- LOGO -->
          <img
            src="img/logo.svg"
            alt="Logo de Techlogic.store"
            class="logo-slide-menu"
          />
        </header>

        <!-- BARRA DE NAVEGACIÓN DEL SLIDE MENU DE LA VERSIÓN MOBILE -->
        <nav class="navbar-slide-menu">
          <ul>
            <!-- OPCIÓN PRODUCTOS -->
            <li class="options-navbar-slide-menu">
              <div class="option-navbar-with-icon">
                <a href="#">Productos</a>
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
              </div>

              <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN PRODUCTOS -->
              <div class="second-navbar-slide-menu">
                <ul>
                  <li><a href="#">Smartphones</a></li>
                  <li><a href="#">Tablets</a></li>
                  <li><a href="#">Laptops y Desktops</a></li>
                  <li><a href="#">Consolas y Gaming</a></li>
                  <li><a href="#">Redes</a></li>
                  <li>
                    <div class="option-navbar-with-icon">
                      <a href="#">Accesorios</a>
                      <i class="fa-solid fa-plus"></i>
                      <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
                    </div>

                    <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN ACCESORIOS DE PRODUCTOS -->
                    <div class="third-navbar-slide-menu">
                      <ul>
                        <li><a href="#">Fundas</a></li>
                        <li><a href="#">Teclados</a></li>
                        <li><a href="#">Mouse</a></li>
                        <li><a href="#">Altavoces</a></li>
                        <li><a href="#">Audífonos</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

            <!-- OPCIÓN DESCUBRE -->
            <li class="options-navbar-slide-menu">
              <div class="option-navbar-with-icon">
                <a href="#">Descubre</a>
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
              </div>

              <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN DESCUBRE -->
              <div class="second-navbar-slide-menu">
                <ul>
                  <li>
                    <div class="option-navbar-with-icon">
                      <a href="#">Colecciones</a>
                      <i class="fa-solid fa-plus"></i>
                      <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
                    </div>

                    <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN COLECCIONES DE DESCUBRE -->
                    <div class="third-navbar-slide-menu">
                      <ul>
                        <li><a href="#">Modern</a></li>
                        <li><a href="#">Classic</a></li>
                        <li><a href="#">Powerfull</a></li>
                        <li><a href="#">Black & White</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Best Sellers</a></li>
                  <li><a href="#">Ofertas</a></li>
                </ul>
              </div>
            </li>

            <!-- OPCIÓN CONTACTO -->
            <li class="options-navbar-slide-menu">
              <div class="option-navbar-with-icon">
                <a href="#">Contacto</a>
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-minus icono-menos-slide-menu"></i>
              </div>

              <!-- MENÚ QUE SE DESPLIEGA DE LA OPCIÓN CONTACTO -->
              <div class="second-navbar-slide-menu">
                <ul>
                  <li><a href="#">Acerca de Techlogic.store</a></li>
                  <li><a href="#">Métodos de Pago</a></li>
                  <li><a href="#">Preguntas frecuentes</a></li>
                  <li><a href="#">Soporte al Cliente</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>

        <!-- PIE DE PÁGINA DEL SLIDE-MENU -->
        <footer class="footer-slide-menu">
          <!-- PERFIL DEL USUARIO EN EL SLIDE-MENU DE LA VERSIÓN MOBILE -->
          <div class="profile-slide-menu">
            <!-- PERFIL DEL USUARIO SI NO HA INICIADO SESIÓN -->
            <div class="profile-slide-menu-empty">
              <a href="#">Iniciar Sesión</a>
              <a href="#">Regístrate</a>
            </div>

            <!-- PERFIL DEL USUARIO SI YA INICIÓ SESIÓN -->
            <div class="profile-slide-menu-full">
              <div class="img-slider-menu">
                <img
                  src="img/foto-de-perfil.jpg"
                  alt="Foto de perfil del usuario"
                />
              </div>
              <p>Nombre de Usuario</p>
            </div>
          </div>

          <!-- REDES SOCIALES EN EL SLIDE-MENU DE LA VERSIÓN MOBILE -->
          <div class="social-media-slide-menu">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i>
          </div>
        </footer>
      </div>
    </header>

    <!-- SECCIÓN MAIN -->
    <main class="main-cart">
      <!------- SECCION LISTA DE PRODUCTOS EN EL CARRITO ----------->
      <section class="list-product">
        <div class="my-cart">
          <h3><i class="fa-solid fa-cart-shopping cart"></i> Mi Carrito</h3>
        </div>
        <article class="articles">
          <div class="item-cart">
            <div class="div-img-art">
              <img
                class="img-article"
                src="/img/mouse-logi.png"
                alt="Iphone 13"
              />
              <a href="#" class="eliminar-producto"><p>Eliminar</p></a>
            </div>
            <div>
              <ul class="product-detail-cart">
                <li class="title-product">Mouse Logitech G603</li>
                <li>Categoía de Producto</li>
                <li>Descripción de producto</li>
              </ul>
            </div>
            <div>
              <ul class="add-item">
                <li>$6.435,00</li>
                <div class="add-item-icons">
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-left icon-cant"></i
                    ></a>
                  </div>
                  <li class="cantidad">1</li>
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-right icon-cant"></i
                    ></a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </article>
        <article class="articles">
          <div class="item-cart">
            <div class="div-img-art">
              <img
                class="img-article"
                src="/img/mouse-logi.png"
                alt="Iphone 13"
              />
              <a href="#" class="eliminar-producto"><p>Eliminar</p></a>
            </div>
            <div>
              <ul class="product-detail-cart">
                <li class="title-product">Mouse Logitech G603</li>
                <li>Categoía de Producto</li>
                <li>Descripción de producto</li>
              </ul>
            </div>
            <div>
              <ul class="add-item">
                <li>$6.435,00</li>
                <div class="add-item-icons">
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-left icon-cant"></i
                    ></a>
                  </div>
                  <li class="cantidad">1</li>
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-right icon-cant"></i
                    ></a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </article>
        <article class="articles">
          <div class="item-cart">
            <div class="div-img-art">
              <img
                class="img-article"
                src="/img/iphone13.png"
                alt="Iphone 13"
              />
              <a href="#" class="eliminar-producto"><p>Eliminar</p></a>
            </div>
            <div>
              <ul class="product-detail-cart">
                <li class="title-product">Iphone 13</li>
                <li>Categoía de Producto</li>
                <li>Descripción de producto</li>
              </ul>
            </div>
            <div>
              <ul class="add-item">
                <li>$234.500,00</li>
                <div class="add-item-icons">
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-left icon-cant"></i
                    ></a>
                  </div>
                  <li class="cantidad">1</li>
                  <div>
                    <a href="#"
                      ><i class="fa-solid fa-angles-right icon-cant"></i
                    ></a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </article>
      </section>
      <!-------------- SECCION CIERRE DE CARRITO ----------------->
      <section class="close-cart">
        <div class="title-close">
          <h3>Total Compra</h3>
        </div>
        <div class="liqu">
          <!-- <div class="list-descript"> -->
          <ul class="ul-close-cart left">
            <li class="li-close-cart">Subtotal</li>
            <li class="li-close-cart">Impuesto</li>
            <li class="li-close-cart"><h4>Monto Total</h4></li>
          </ul>
          <!-- </div> -->
          <!-- <div class="list-descript"> -->
          <ul class="ul-close-cart right">
            <li class="li-close-cart">$ 240.953</li>
            <li class="li-close-cart">$ 2.500</li>
            <li class="li-close-cart"><h4>$ 243.453</h4></li>
          </ul>
          <!-- </div> -->
        </div>
        <!--  <div></div> -->
        <div class="button-cart-div">
          <button class="button-cart">Comprar</button>
        </div>
        <!--   <div class="button-cart-div">
            <button class="button-cart">Limpiar carrito</button>
          </div> -->
      </section>
      <!--------- SECCION OFERTAS | TE PUEDE INTERESAR --------->
      <section class="seccion-product-plus">
        <h3 class="h3-seccion-plus">También te puede interesar...</h3>
        <!-- <div class="icon-left-plus">
          <i class="fa-solid fa-angle-left"></i>
        </div> -->
        <div class="images-products-plus">
          <div class="product-plus">
            <img
              src="/img/ipad-air.png"
              alt="Ipad Air"
              class="img-product-plus"
            />
            <div class="info-product-plus">
              <p class="title-product-plus">Ipad Air</p>
              <p class="price-product-plus">$ 234.405</p>
              <p class="description-product-plus">Apple Aipad Air</p>
            </div>
          </div>
          <div class="images-products-plus">
            <div class="product-plus">
              <img
                src="/img/iphone13.png"
                alt="Ipad Air"
                class="img-product-plus"
              />
              <div class="info-product-plus">
                <p class="title-product-plus">Iphone 13 PRO</p>
                <p class="price-product-plus">$ 345.340</p>
                <p class="description-product-plus">Apple Iphone 13 PRO</p>
              </div>
            </div>
          </div>
          <div class="images-products-plus">
            <div class="product-plus">
              <img
                src="/img/playstation-5.png"
                alt="Ipad Air"
                class="img-product-plus"
              />
              <div class="info-product-plus">
                <p class="title-product-plus">Playstation 5</p>
                <p class="price-product-plus">$ 650.400</p>
                <p class="description-product-plus">Sony Playstation 5</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="icon-right-plus">
          <i class="fa-solid fa-angle-right"></i>
        </div> -->
      </section>
    </main>
    <!-- FOOTER -->
    <footer class="main-footer">
      <!-- SECCIÓN DE LA BARRA DE BÚSQUEDA Y LAS REDES SOCIALES -->
      <section class="sections-footer">
        <!-- BARRA DE BÚSQUEDA -->
        <div class="search-bar-footer">
          <form action="/" method="POST">
            <input type="search" name="search-footer" id="search-footer" />
            <div class="inside-search-bar-footer">
              <label for="search-footer">Buscar...</label>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
          </form>
        </div>

        <!-- REDES SOCIALES -->
        <div class="social-media-footer">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </section>

      <!-- SECCIÓN PRODUCTOS DEL FOOTER -->
      <section class="sections-footer">
        <a href="#" class="title-sections-footer"> Productos </a>
        <a href="#" class="enlaces-sections-footer"> Colecciones </a>
        <a href="#" class="enlaces-sections-footer"> Best Sellers </a>
        <a href="#" class="enlaces-sections-footer"> Ofertas </a>
      </section>

      <!-- SECCIÓN CONTACTO DEL FOOTER -->
      <section class="sections-footer">
        <a href="#" class="title-sections-footer"> Contacto </a>
        <a href="#" class="enlaces-sections-footer"> Acerca de Nosotros </a>
        <a href="#" class="enlaces-sections-footer"> Soporte al Cliente </a>
        <a href="#" class="enlaces-sections-footer"> Preguntas frecuentes </a>
      </section>

      <!-- SECCIÓN DEL LOGO Y DE INOFO DE LA EMPRESA -->
      <section class="sections-footer">
        <div class="logo-info-footer">
          <!-- LOGO -->
          <div class="logo-footer">
            <img src="img/logo-alternativo.svg" alt="Logo de Techlogic.store" />
          </div>

          <!-- INFO DE LA EMPRESA -->
          <div class="info-company-footer">
            <p>Ciudad Unknown</p>
            <p>111-2345678</p>
            <p>info@techlogic.com</p>
          </div>
        </div>
      </section>

      <!-- COPYRIGHT -->
      <section class="copyright">
        <p>Copyright © 2022</p>

        <!-- INFO DERECHA COPYRIGHT -->
        <div class="info-copyright">
          <p>Términos</p>
          <p>Privacidad</p>
          <p>Cookies</p>
        </div>
      </section>
    </footer>
  </body>
</html>
