<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ---------------------LINK A CSS --------------------- -->
    <link rel="stylesheet" href="/css/loginRegister.css">
    <title>Resgistrate</title>
</head>

<body class="body-register">
    <main>
        <!-- ---------------------SECCION REGISTRO--------------------- -->
        <section class="register-box">
            <h3 class="register-text">REGISTRATE</h3>
            <!-- ---------------------IMAGEN DE PERFIL--------------------- -->
            <img class="user-profile-picture" src="\img\usuario-predeterminado.jpg" alt="imagen de perfil">
            <!-- ---------------------FORM REGISTRO--------------------- -->
            <form action="/register" method="POST" class="register-form">
                <input type="text" name="name" id="name" placeholder="Nombre de Usuario" class="register-form-item">
                <input type="email" name="email" id="email" placeholder="E-mail" class="register-form-item">
                <input type="password" name="password" id="password" placeholder="Contraseña" class="register-form-item">
                <!-- ---------------------TERMINOS Y CONDICIONES--------------------- -->
                <div class="terms-conditions">
                    <input type="radio" name="terms-conditions" id="terms-conditions">
                    <label for="terms-conditions">Aceptar <a href="#">Terminos y condiciones</a></label>
                </div>
                <!-- ---------------------BOTON PARA ENVIAR--------------------- -->
                <div class="register-button">
                    <button type="submit" class="register-button-input">REGISTRARSE</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>