@import url(styles.css);
@import url(index.css);

.boxed {
    display: flex;
    /* border: 1px solid green ;
    background-color: antiquewhite; */
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-productDetail {
    padding-bottom: 10px;
  }

  .main-product-detail{

    background-color: var(--blanco);
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;

  }

  .cnt-product-detail{
    display: flex;
    width: 100%;
    background-color: var(--negro);
    justify-content: center;
    flex-direction: row;
  }

.cnt-product-detail p{
  text-align: center;
}

.prd-name-general{
  color: var(--celeste);
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;

}

.prd-name{
  color: var(--blanco);
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.prd-price{
  color: var(--blanco);
  opacity: 0.9;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.prd-stars{
  display: flex;
  flex-direction: row;
  color: var(--blanco);
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.prd-buy{
  background-color: var(--celeste);
  color: var(--negro);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid var(--negro);
  border-radius: 8px;
  cursor: pointer;
  transition-property: background-color, color;
  transition: 2s;
}

.prd-buy:hover {
  background-color: var(--azul-marino);
  color: var(--celeste);
}

.prd-add-cart{
  display: flex;
  background-color: rgba(255, 255, 255, 0.95);
  color: var(--negro);
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 32px;
  justify-content: row;
  padding: 4px 0;
  padding-left: 25px;
  padding-right: 25px;
  border: 3px solid var(--negro);
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  transition-property: background-color, color;
  transition: 2s;
}

.prd-add-cart:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.prd-add-cart i{
  color: var(--negro);
  font-size: 25px;
  margin-left: 10px;
  padding-left: 5px;
  transition: color 2s;
}

.prd-add-cart:hover i {
  color: var(--blanco);
}

.prd-star-text{
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.prd-buy-cnt i{
  color: var(--blanco);
  font-size: 25px;
  margin-top: 25px;
  margin-left: 10px;
  /* padding-left: 10px; */
  /* padding-right: 0px; */


}

.prd-buy-cnt{
  display: flex;
  justify-content: row;
  align-items: center;
}

.cnt-number{
  border: 3px solid var(--blanco);
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-left: 18px;

}

.text-number{
  color: var(--blanco);
  font-size: 30px;
  margin-top: 4px;
  margin-left: 3px;

}

.prd-features{
  border-top: 1px solid var(--blanco);
  display: flex;
  background-color: var(--negro);
  color: var(--blanco);
  font-size: 16px;
  justify-content: row;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;

}

.prd-features:last-child {
  border-bottom: 1px solid var(--blanco);
}

.slider{
  display: flex;
  justify-content: center;
  background-color: var(--blanco);
  height: 50vh;
  position: relative;
}

.slider-img {
  color: var(--gris);
  font-size: 100px;
  position: absolute;
  top: 40%;
}

.icon-arrow{
  background-color: var(--negro);
  color: var(--gris);
  font-size: 30px;
  margin-top: 80px;
  height: 40px;

}

.icons{
  display: flex;
  background-color: var(--blanco);
  justify-content:center;
  padding-top: 10px;
  padding-bottom: 10px;

}

.icons-dots{
  margin-left: 3px;
  margin-right: 3px;
}

.button-props i:hover{
  font-size: 25px;
}

.button-props i {
  cursor: pointer;
  color: var(--blanco);
  font-size: 20px;

}

.button-props{
  background-color: transparent;
  border: none;
}

/* .icon-arrow:hover{
  box-shadow: 5px 5px 5px rgb(100, 100, 100);
} */

.icon-numbers{
  display: flex;
  flex-direction: row;

}

.icon-numbers i{
  color: white;
}

.icon-minus{
  position: relative;
  color: rgb(26, 173, 193);
  bottom: 10px; left: 25px;
  
  
}

.icon-minus i{
  color: var(--blanco);
  background-color: var(--gris);
  border-radius: 50%;
  padding: 1px 2px;
  font-size: 20px;
}

.icon-plus{
  position: relative;
  bottom: 10px; right: 17px;
}

.icon-plus i{
  color: var(--blanco);
  background-color: var(--gris);
  border-radius: 50%;
  padding: 1px 2px;
  font-size: 20px;
}