@import url(styles.css);

/* main{
 background-color: black;  
 font-family: 'Roboto'
} */
.cart-header{ 
    background-color: var(--negro);
    width: 100%;
    padding: 1.5rem;
    border-bottom: 2px solid var(--gris);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.main-cart{
    width: 100%;
    padding: 100px 0;

}
.list-product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(255, 255, 255);

}
ul{
    list-style: none;
}
.article{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: solid 2px rgb(255, 255, 255);
    width: 100%;
    margin: auto;

}
.add-item-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.img-article{
    width: 100px;

}
.item-cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    border: solid 2px rgb(255, 255, 255);
}
.article-detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-around; */
    color: rgb(255, 255, 255);
    padding: 10px;
    border-right-width: 200px;
}
.add-item{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.add-item li {
    text-align: center;
}
.article-detail p {
    margin: 5px;
}
.title-product{
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.cantidad{
   /*  border: solid 2px rgb(255, 255, 255); */
    padding: 10px;
    /* width: 40px; */
    text-align: center;
    border-radius: 50%;
}

.foot-product {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

}
.cat-product, .description-product{
    font-size: 14px;
    color: rgb(255, 255, 255);
}