@import url(styles.css);
@import url(index.css);

/* main{
 background-color: black;  
 font-family: 'Roboto'
} */
ul {
    list-style: none;
}
.cart-header {
  background-color: var(--negro);
  width: 100%;
  padding: 1.5rem;
  border-bottom: 2px solid var(--gris);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.my-cart {
  margin: 10px;
}
.main-cart {
  width: 100%;
  padding: 100px 0;
}
.icon-cant {
  color: var(--blanco);
  font-size: 12px;
}
.product-detail-cart {
  font-size: 14px;
}

.list-product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}


.article {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: solid 1px rgb(255, 255, 255);
  width: 100%;
  margin: auto;
}
.add-item-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.img-article {
  width: 100px;
  padding: 10px;
}
.item-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  border-top: solid 1px rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: auto;
  margin-top: 10px;
}
.article-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-right-width: 200px;
}
.add-item {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.add-item li {
  text-align: center;
}
.article-detail p {
  margin: 5px;
}
.title-product {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.cantidad {
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}

.foot-product {
  display: flex;
  flex-direction: column;
}
.cat-product, .description-product {
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.liqu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}
.li-close-cart{
    margin-top: 15px;
}
.ul-close-cart{
    margin: auto;
   /*  text-align: justify; */
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.title-close {
    margin: auto;
    text-align: center;
}
.close-cart {
    border: solid 2px rgb(255, 255, 255);
    background-color: var(--blanco);
    color: var(--azul-marino);
    width: 70%;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}
.button-cart{
    background-color: var(--gris);
    color: var(--blanco);
    font-size: 14px;
    font-weight: 600;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px 20px;
    
}
.button-cart:hover{
    background-color: var(--celeste);
    color: var(--azul-marino);
    transition: 0.8ms;
}
.button-cart-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
