/* ----------------------IMPORTANDO HOJAS DE ESTILO---------------------- */
@import url(index.css);
@import url(productDetail.css);
@import url(productCart.css);
@import url(loginRegister.css);

/* ----------------------ROOT DE COLORES---------------------- */
:root{
    --azul-marino: #03254E;
    --gris: #494949;
    --celeste: #43E9F1;
    --blanco: #FFFFFF;
    --negro: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--negro);
}