@import url(../styles.css);
@import url(../partials/header.css);
@import url(../partials/footer.css);
@import url(../products/productCart.css);

/* ---------------------FONDO DE GIF PARA EL BODY--------------------- */

/* .body-register{
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s224fc11c65cbc592/image/if98254786d31b25d/version/1500231290/image.gif);
    } */ /* HAY QUE HACERLO MAS LENTO EL GIF */

/* .main-register-login{
    margin: auto;
    margin-top: 120px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
 */
.body-register-login{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#000000, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#000000, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top,#000000, #434343, #000000);
}

/* ---------------------CAJA DE REGISTER--------------------- */
.register-login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  /* position: relative;
    top: 30vw; */
  margin: auto;
  margin-bottom: 25vw;
  margin-top: 30vw;
  background: linear-gradient(to top, var(--negro), var(--azul-marino));
  border-radius: 10px;
  flex-wrap: wrap;
  z-index: 1;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
/* ---------------------TEXTO "REGISTRARSE"--------------------- */
.register-login-text {
  color: var(--blanco);
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* ---------------------IMAGEN DE PERFIL--------------------- */
.user-profile-picture {
  margin-bottom: 15px;
  width: 25vw;
  /* border: 1px solid red;  /* es solo para visualizarla mejor */
}

.user-profile-icon{
  font-size: 180px;
  color:var(--blanco) ;
}
/* ---------------------FORMULARIO DE REGISTRO--------------------- */
.register-login-form {
  display: flex;
  flex-direction: column;
}

/* ---------------------INPUTS DEL FORMULARIO--------------------- */
.register-login-form-item {
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px;
  border-radius: 3px;
}
/* ---------------------TERMINOS Y CONDICIONES--------------------- */
.terms-conditions{
  margin-bottom: 15px;
  margin-top: 15px;
  color: var(--blanco);
}

.terms-conditions a {
  color: var(--celeste);
  font-weight: 600;
  transition: opacity 450ms;
}

.terms-conditions a:hover {
  opacity: 0.8;
}

/* ---------------------LINK A REGISTRARSE Y OLVIDE MI CONTRASEÑA"--------------------- */
.links-register-password{
  display: flex;
  justify-content: space-between;
}

.links-register-password p {
  margin-left: 0.75rem;
  margin-top:20px ;
  padding-right: 0.75rem;
  color: var(--blanco);

}

.links-register-password p a {
  color: var(--celeste);
  font-weight: 600;
  transition: opacity 450ms;
}

.links-register-password p a:hover {
  opacity: 0.8;
}

/* ---------------------BOTON DE "REGISTRARSE" E "INICIAR SESIÓN" --------------------- */

/* .register-button-input {
  padding: 20px;
  background-color: var(--celeste);
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: bold;
} */

.button-login-register {
  margin-bottom: 30px;
}

/* ---------------------RECORDAR USUARIO--------------------- */

.user-save{
  margin-bottom: 25px;
  margin-top: 15px;
  margin: auto;
  margin-top: 10px;
  color: var(--blanco);
  font-size: 1rem;
}

/* ---------------------MEDIA QUERIES TABLET--------------------- */
@media (min-width: 768px) {
  .user-profile-picture {
    width: 23vw;
  }
  .register-login-box {
    width: 60vw;
    margin-bottom: 20vw;
  }
  .register-login-box {
    top: 15vw;
    width: 45vw;
  }
}
/* ---------------------MEDIA QUERIES DESKTOP--------------------- */
@media (min-width: 1050px) {
  .user-profile-picture {
    width: 19vw;
  }
  .register-login-box {
    top: 15vw;
    width: 35vw;
    margin-bottom: 10vw;
    margin-top: 10vw;
  }
}
/* ---------------------MEDIA QUERIES DESKTOP++--------------------- */
@media (min-width: 1200px) {
  .user-profile-picture {
    width: 13vw;
  }
}
