<footer class="main-footer">

    <!-- SECCIÓN DE LA BARRA DE BÚSQUEDA Y LAS REDES SOCIALES -->
    <section class="sections-footer">

        <!-- BARRA DE BÚSQUEDA -->
        <div class="search-bar-footer">
            <form action="/search" method="POST">
                <input type="search" name="search" id="search-footer" placeholder="Buscar...">
                <button class="button-search-bar-footer"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

        <!-- REDES SOCIALES -->
        <div class="social-media-footer">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
    </section>

    <!-- SECCIÓN PRODUCTOS DEL FOOTER -->
    <section class="sections-footer">
        <a href="/products" class="title-sections-footer"> Productos </a>
        <a href="/products/collections" class="enlaces-sections-footer"> Colecciones </a>
        <a href="/products/bestSellers" class="enlaces-sections-footer"> Best Sellers </a>
        <a href="/products/sales" class="enlaces-sections-footer"> Ofertas </a>
    </section>

    <!-- SECCIÓN CONTACTO DEL FOOTER -->
    <section class="sections-footer">
        <a href="/contact/info" class="title-sections-footer"> Contacto </a>
        <a href="/contact/aboutUs" class="enlaces-sections-footer"> Acerca de Nosotros </a>
        <a href="/contact/info" class="enlaces-sections-footer"> Soporte al Cliente </a>
        <a href="/contact/questions" class="enlaces-sections-footer"> Preguntas frecuentes </a>
    </section>

    <!-- SECCIÓN DEL LOGO Y DE INOFO DE LA EMPRESA -->
    <section class="sections-footer">
        <div class="logo-info-footer">

            <!-- LOGO -->
            <div class="logo-footer">
                <img src="/img/logo-alternativo.svg" alt="Logo de Techlogic.store">
            </div>

            <!-- INFO DE LA EMPRESA -->
            <div class="info-company-footer">
                <p> Ciudad Unknown </p>
                <p> 111-2345678 </p>
                <p> info@techlogic.com</p> 
            </div>
        </div>
    </section>

    <!-- COPYRIGHT -->
    <section class="copyright">
        <p> Copyright © 2022 </p>

        <!-- INFO DERECHA COPYRIGHT -->
        <div class="info-copyright">
            <p> Términos </p>
            <p> Privacidad </p>
            <p> Cookies </p>
        </div>
    </section>
    <script src="/js/searchBar.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/collapseProductDetail.js"></script>
    <script src="/js/filterMenu.js"></script>
</footer>