<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Sobre Techlogic.store', stylesheet: 'contact/aboutUs.css'}) %>
    
    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main class="main-about-us">

            <div class="row">

                <div class="col-12 col-sm-6 col-md-3 border contenedor">
                    <p>12 sm-6 md-3</p>
                </div>
                <div class="col-12 col-sm-12 col-md-3 border contenedor">
                    <video src="/img/video-prueba.mp4" controls loop></video>
                </div>
                <div class="col-12 col-sm-12 col-md-3 border contenedor">
                    <img src="/img/foto-de-perfil.jpg" alt="Imagen">
                </div>
                <div class="col-12 col-sm-12 col-md-3 border contenedor">
                    <p>12 sm-6 md-3</p>
                </div>

            </div>

            <div class="row">

                <div class="col-12 col-sm-12 col-md-3 border contenedor">
                    <video src="/img/video-prueba.mp4" controls loop></video>
                </div>
                <div class="col-12 col-sm-6 border contenedor">
                    <h2>SOBRE NOSOTROS</h2>
                </div>
                <div class="col-12 col-sm-12 col-md-3 border contenedor">
                    <video src="/img/video-prueba.mp4" controls loop></video>
                </div>

            </div>

            <div class="row">

                <div class="col-12 col-sm-6 col-md-3 border contenedor">
                    <p>12 sm-6 md-3</p>
                </div>
                <div class="col-12 col-sm-12 col-md-3 border contenedor">
                    <img src="/img/foto-de-perfil.jpg" alt="Imagen">
                </div>
                <div class="col-12 col-sm-12 col-md-3 border contenedor">
                    <video src="/img/video-prueba.mp4" controls loop></video>
                </div>
                <div class="col-12 col-sm-12 col-md-3 border contenedor">
                    <p>12 sm-6 md-3</p>
                </div>
            </div>
            
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </body>

</html>