<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head', {title: 'Soporte al Cliente' , stylesheet: 'contact/infoContact.css' }) %>

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

            <!-- MAIN -->
            <main>
                <div class=" main-info-contact container col-md-12">
                    <div class="info-container container col-md-8" >
                        <h2 class="info-title">Soporte al cliente</h2>
                        <h3 class="info-text">
                            Si tienes alguna consulta no dudes en escribirnos y te contestaremos vía email lo antes posible.
                        </h3>
                        <h3 class="info-text">
                            Te recomendamos leer la sección de <a href="/contact/questions" class="link-questions-info-contact"> Preguntas frecuentes</a> para
                            ver si encuentras tu respuesta.

                        </h3>
                        <form class="form-info">
                            <label for="email-input" class="info-label">Ingresá tu Email</label>
                            <input type="email" name="email-input" class="info-input">
                            <label for="text-area" class="info-label">Ingresá tu consulta</label>
                            <textarea name="text-area" class="info-input info-textarea"></textarea>
                            <div class="button-cart-div button-login-register">
                                <button class="btn btn-secondary" form-info-button>Enviar</button>
                            </div>

                        </form>

                    </div>
                    <div class="info-container" >
                        <h3 class="info-text">
                            Donde estamos:
                        </h3>
                        <div class="mapa-contact">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18574.353893819352!2d-58.389711866202276!3d-34.6164768563982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb28ea8781cb%3A0xb791570f7236c962!2sDigital%20House!5e0!3m2!1ses-419!2sar!4v1662338989698!5m2!1ses-419!2sar" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <h3 class="info-text">
                            Direccion: Av. Monroe 860, Caba, Bs.As.
                        </h3>
                        <h3 class="info-text">
                            Telefono: +54 1166221744
                        </h3>
                        <h3 class="info-text">
                            Correo Electrónico: contacto@digitalhouse.com
                        </h3>
                    </div>
                </div>
            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>

    </body>

</html>