<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head', {title: 'Soporte al Cliente' , stylesheet: 'contact/infoContact.css' }) %>

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

            <!-- MAIN -->
            <main class="main-info">
                <div class="info-container">
                    <h2 class="info-title">Soporte al cliente</h2>
                    <h3 class="info-text">
                        Si tienes alguna consulta no dudes en escribirnos y te contestaremos vía email lo antes posible.
                        Te recomendamos leer la sección de <a href="/contact/questions"> Preguntas frecuentes</a> para
                        ver si encuentras tu respuesta.

                    </h3>
                    <form class="form-info">
                        <label for="email-input" class="info-label">Ingrese tu Email</label>
                        <input type="email" name="email-input" class="info-input">
                        <label for="text-area" class="info-label">Ingrese tu consulta</label>
                        <textarea name="text-area" class="info-input info-textarea"></textarea>
                        <div class="button-cart-div button-login-register">
                            <button class=button-cart form-info-button>Enviar</button>
                        </div>

                    </form>

                </div>
            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>

    </body>

</html>