@import url(../styles.css);
@import url(../partials/header.css);
@import url(../partials/footer.css);

.main-create-form {
    margin-top: 6.25rem;
    background: linear-gradient(to top,#000000, #434343, #000000);
}

.title-create-form {
    padding-top: 2.5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--blanco);
    margin-bottom: 2.5rem;
}

.normal-input {
    width: 50%;
    margin: auto;
    width: 100%;
    text-align: center;
}

.normal-input label {
    display: block;
    color: var(--blanco);
    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.normal-input input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.normal-input select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.normal-input textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    height: 7rem;
}

.button-create-form {
    width: 10rem;
    margin-bottom: 2rem;
}