@import url(../styles.css);
@import url(../partials/header.css);
@import url(../partials/footer.css);

/* MAIN DE LAS VISTAS DE CREACIÓN Y EDICIÓN DE PRODUCTOS */
.main-edit-create-form {
    margin-top: 6.25rem;
    background: linear-gradient(to top,#000000, #434343, #000000);
}

/* TÍTULO DE LA VISTA */
.title-edit-create-form {
    min-width: 24rem;
    width: 90%;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    color: var(--blanco);
    margin: 0 auto;
    margin-bottom: 2.75rem;
    border-bottom: solid 2px var(--blanco);
}

/* DIV QUE CONTIENE CADA INPUT Y ELEMENTO DEL FORM */
.div-edit-create-form {
    width: 100%;
    margin: auto;
    padding: 0 2rem;
}

/* LABEL DE LOS INPUTS */
.label-normal-input {
    color: var(--blanco);
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* TÍTULO DEL SELECT */
.title-select-edit-create-form {
    color: var(--blanco);
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* INPUTS DEL FORMULARIO */
.normal-input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

/* SELECT DEL FORMULARIO */
.select-edit-create-form {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

/* TEXTAREA DEL FORMULARIO */
.textarea-edit-create-form {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    height: 7rem;
}

/* INPUT PARA CARGAR LA IMAGEN DEL PRODUCTO */
.image-input {
    color: var(--blanco);
}

/* TÍTULO DE LA SECCIÓN QUE MUESTRA LA IMAGEN ACTUAL DEL PRODUCTO A EDITAR */
.title-current-image-edit-create-form {
    color: var(--blanco);
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* IMAGEN ACTUAL DEL PRODUCTO A EDITAR */
.current-image-edit-create-form {
    display: block;
    width: 10rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.div-product-image{
  display: block;
  font-size: 180px;
  color:var(--blanco) ;
}

.productImage {
    width: 200px;
    display: block;
    margin: 0 auto;
}

/* BOTONES DEL FORMULARIO */
.buttons-edit-create-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 35rem;
}

/* BOTÓN DE EDITAR DEL FORMULARIO */
.button-edit-create-form {
    width: 100%;
    margin: 1rem 2rem;
}

/* FORMULARIO DEL BOTÓN DE BORRAR */
.form-delete {
    margin: 1rem 2rem;
    width: 100%;
}

/* BOTÓN DE BORRAR */
.button-delete {
    margin: 0;
    width: 100%
}

/* ESTILOS DE LOS ERRORES DEL FEEDBACK DE LA VALIDACIÓN FRONT-END */
.errors-frontEnd {
    width: 90vw;
    margin: 1.5rem auto;
    list-style-type: circle;
}

.alert-warning {
    color: red;
    font-size: 1rem;
}

.is-invalid {
  border: 2px solid red;
  box-shadow: 0 0 7px red;
}

.error-feedback-product {
    display: block;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
}

/* MEDIA QUERIES */

/* MEDIA QUERIES TABLETS */
@media (min-width: 768px) {

    /* TÍTULO DE LA VISTA */
    .title-edit-create-form {
        width: 80%;
    }

    /* DIV QUE CONTIENE CADA INPUT Y ELEMENTO DEL FORM */
    .div-edit-create-form {
        width: 80%;
        padding: 0;
    }

    /* BOTÓN DE EDITAR DEL FORMULARIO */
    .button-edit-create-form {
        width: 8rem;
    }

    /* FORMULARIO DEL BOTÓN DE BORRAR */
    .form-delete {
        width: 8rem;
    }

    /* ESTILOS DE LOS ERRORES DEL FEEDBACK DE LA VALIDACIÓN FRONT-END */
    .errors-frontEnd {
        width: 80vw;
        margin: 1.5rem auto;
        list-style-type: circle;
    }

    /* FEEDBACK ERRORES BACK-END */
    .error-feedback-product {
        width: 80vw;
    }

}

/* MEDIA QUERIES DESKTOP */
@media (min-width: 1050px) {

    /* TÍTULO DE LA VISTA */
    .title-edit-create-form {
        width: 60%;
    }

    /* DIV QUE CONTIENE CADA INPUT Y ELEMENTO DEL FORM */
    .div-edit-create-form {
        width: 60%;
    }

    /* ESTILOS DE LOS ERRORES DEL FEEDBACK DE LA VALIDACIÓN FRONT-END */
    .errors-frontEnd {
        width: 60vw;
        margin: 1.5rem auto;
        list-style-type: circle;
    }

    /* FEEDBACK ERRORES BACK-END */
    .error-feedback-product {
        width: 60vw;
    }

}