<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('../partials/head', {title: 'Crear Producto', stylesheet:
  'admin/editCreateProduct.css'}) %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- MAIN -->
    <main class="main-edit-create-form">

      <!-- TÍTULO DE LA VISTA DE CREACIÓN -->
      <h2 class="title-edit-create-form">Formulario de Creación</h2>

      <!-- FORMULARIO DE CREACIÓN -->
      <form action="" method="POST" enctype="multipart/form-data">

        <!-- INPUT DEL NOMBRE DEL PRODUCTO -->
        <div class="div-edit-create-form">
          <label for="productName" class="label-normal-input">Nombre del Producto:</label>
          <input type="text" id="productName" name="productName" class="normal-input" placeholder="Ej: Teléfono iPhone 13">
        </div>

        <!-- INPUT DEL LA SECCIÓN DEL PRODUCTO -->
        <div class="div-edit-create-form">
          <label for="productSection" class="label-normal-input">Sección del Producto:</label>
          <input type="text" id="productSection" name="productSection" class="normal-input" placeholder="Ej: Teléfono">
        </div>

        <!-- SELECT DE LA COLECCIÓN DEL PRODUCTO -->
        <div class="div-edit-create-form">
          <h3 class="title-select-edit-create-form">Colección del Producto:</h3>
          <select name="productCollection" class="select-edit-create-form">
            <option value="" disable selected>Elegí una colección:</option>
            <option value="modern">Modern</option>
            <option value="classic">Classic</option>
            <option value="colorful">Colorful</option>
            <option value="blackAndWhite">Black & White</option>
          </select>
        </div>

        <!-- INPUT DEL PRECIO DEL PRODUCTO -->
        <div class="div-edit-create-form">
          <label for="productPrice" class="label-normal-input">Precio del Producto:</label>
          <input type="text" id="productPrice" name="productPrice" class="normal-input" placeholder="Ej: 12500">
        </div>

        <!-- INPUT DEL DESCUENTO DEL PRODUCTO -->  
        <div class="div-edit-create-form">
          <label for="productDiscount" class="label-normal-input">Descuento del Producto:</label>
          <input type="text" id="productDiscount" name="productDiscount" class="normal-input" placeholder="Ej: 10">
        </div>

        <!-- TEXTAREA DE LA DESCRIPCIÓN DEL PRODUCTO -->
        <div class="div-edit-create-form">
          <label for="productDescription" class="label-normal-input">Descripción del Producto:</label>
          <textarea name="productDescription" id="productDescription" class="textarea-edit-create-form"></textarea>
        </div>

        <!-- INPUT DE LA IMAGEN NUEVA DEL PRODUCTO -->
        <div class="div-edit-create-form">
          <label for="productImage" class="label-normal-input">Imagen del Producto:</label>
          <input type="file" id="productImage" name="productImage" class="normal-input image-input">
        </div>

        <!-- BOTONES PARA CREAR UN PRODUCTO -->
        <div class="buttons-edit-create-form">
          <button type="submit" class="button-cart button-edit-create-form">Crear</button>
        </div>

      </form>

    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
