<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Techlogic.store', stylesheet: 'main/index.css'}) %>
    
    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>
        

        <!-- BANNER PRINCIPAL -->
        <section class="main-banner">

            <!-- IMÁGENES DE FONDO DEL BANNER -->
            <!-- <div class="images-main-banner">
                <img src="img/banner-1.png" alt="Imagen 1 del banner principal">
                <img src="img/banner-2.jpg" alt="Imagen 2 del banner principal">
                <img src="img/banner-3.jpg" alt="Imagen 3 del banner principal">
                <img src="img/banner-4.jpg" alt="Imagen 4 del banner principal">
            </div> -->

            <!-- FLECHAS DEL BANNER -->
            <div class="flechas-main-banner">
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i>
            </div>

            <!-- CÍRCULOS DE CAMBIO DE LA IMAGEN DEL BANNER -->
            <div class="circles-main-banner">
                <div class="circle-main-banner"></div>
                <div class="circle-main-banner"></div>
                <div class="circle-main-banner"></div>
                <div class="circle-main-banner"></div>
            </div>

        </section>

        <!-- MAIN -->
        <main class="main">

            <!-- SECCIÓN BEST SELLERS -->
            <section class="best-sellers-section">
                <!-- SUBTÍTULO SECCIÓN BEST SELLERS -->
                <p class="subtitle-best-sellers-section"> Explorá nuestros </p>
                <!-- TÍTULO SECCIÓN BEST SELLERS -->
                <h2 class="title-best-sellers-section"> Best Sellers </h2>

                <!-- PRODUCTOS DE LA SECCIÓN BEST SELLERS -->
                <div class="products-best-sellers">

                    <!-- BEST SELLER 1 -->
                    <article class="product-best-seller">
                        <img src="/img/iphone13.png" alt="Imagen iPhone 13">
                        <h4 class="name-product-best-sellers-section"> iPhone 13 </h4>
                        <p class="price-product-best-sellers-section"> $234.500,00 </p>
                    </article>

                    <!-- BEST SELLER 2 -->
                    <article class="product-best-seller">
                        <img src="/img/mouse-logi.png" alt="Imagen Mouse Logitech">
                        <h4 class="name-product-best-sellers-section"> Mouse Logitech G603 </h4>
                        <p class="price-product-best-sellers-section"> $6.435,00 </p>
                    </article>

                    <!-- BEST SELLER 3 -->
                    <article class="product-best-seller">
                        <img src="/img/macbook-pro.png" alt="Imagen Macbook Pro">
                        <h4 class="name-product-best-sellers-section"> Macbook Pro </h4>
                        <p class="price-product-best-sellers-section"> $320.000,00 </p>
                    </article>

                    <!-- BEST SELLER 4 -->
                    <article class="product-best-seller">
                        <img src="/img/audifonos-beats-pro.png" alt="Imagen Audífonos Beats Pro">
                        <h4 class="name-product-best-sellers-section"> Audífonos Beats Pro </h4>
                        <p class="price-product-best-sellers-section"> $48.000,00 </p>
                    </article>

                    <!-- BEST SELLER 5 -->
                    <article class="product-best-seller">
                        <img src="/img/ipad-air.png" alt="Imagen iPad Air">
                        <h4 class="name-product-best-sellers-section"> iPad Air </h4>
                        <p class="price-product-best-sellers-section"> $79.230,00 </p>
                    </article>

                    <!-- BEST SELLER 6 -->
                    <article class="product-best-seller">
                        <img src="/img/playstation-5.png" alt="Imagen Playstation 5">
                        <h4 class="name-product-best-sellers-section"> Playstation 5 </h4>
                        <p class="price-product-best-sellers-section"> $61.700,00 </p>
                    </article>

                    <!-- BEST SELLER 7 -->
                    <article class="product-best-seller">
                        <img src="/img/teclado-logitech-g213.png" alt="Imagen Teclado Logitech G213">
                        <h4 class="name-product-best-sellers-section"> Teclado Logitech G213 </h4>
                        <p class="price-product-best-sellers-section"> $5.800,00 </p>
                    </article>

                    <!-- BEST SELLER 8 -->
                    <article class="product-best-seller">
                        <img src="/img/router-tplink-mr6400.png" alt="Imagen Router TP-Link TL-MR6400">
                        <h4 class="name-product-best-sellers-section"> Router TP-Link TL-MR6400 </h4>
                        <p class="price-product-best-sellers-section"> $8.020,00 </p>
                    </article>

                </div>

                <!-- ENLACE DE LA SECCIÓN BEST SELLERS -->
                <form action="/" method="POST">
                    <button class="button-seccion-best-sellers">Ver todos</button>
                </form>

            </section>

            <!-- SECCIÓN CONÓCENOS -->
            <section class="know-us-section">
                
                <!-- CUADRO DE INFORMACIÓN DENTRO DE LA SECCIÓN CONÓCENOS -->
                <div class="info-know-us-section">
                    <h3 class="title-know-us-section"> Conoce Techlogic.store</h3>
                    <p class="description-know-us-section"> Somos una empresa dirigida a la venta de dispositivos, artículos y accesorios electrónicos, 
                    merchandising y contenido tecnológico exclusivo.</p>
                    <form action="/" method="POST">
                        <button class="button-know-us-section"> Leer más </button>
                    </form>
                </div>

            </section>

            <!-- SECCIÓN COLECCIONES -->
            <section class="collections-section">

                <!-- SUBTÍTULO SECCIÓN COLECCIONES -->
                <p class="subtitle-collections-section"> Descubre </p>
                <!-- TÍTULO SECCIÓN COLECCIONES -->
                <h2 class="title-collections-section"> Nuestras Colecciones </h2>

                <!-- PRODUCTOS DE LA SECCIÓN COLECCIONES -->
                <div class="collections">

                    <!-- COLECCIÓN 1 -->
                    <article class="modern-collection collection">
                        <h4 class="title-collection-collections-section title-modern-collection"> Modern </h4>
                        <p class="subtitle-collection-collections-section subtititle-modern-collection"> Descubre todos los productos de la colección Modern </p>
                        <a href="/products/collections/:nameCollection?" class="link-collection-collections-section link-modern-collection"> Ver colección > </a>
                    </article>

                    <!-- COLECCIÓN 2 -->
                    <article class="classic-collection collection">
                        <h4 class="title-collection-collections-section"> Classic </h4>
                        <p class="subtitle-collection-collections-section"> Descubre todos los productos de la colección Classic </p>
                        <a href="/products/collections/:nameCollection?" class="link-collection-collections-section"> Ver colección > </a>
                    </article>

                    <!-- COLECCIÓN 3 -->
                    <article class="colorful-collection collection">
                        <h4 class="title-collection-collections-section"> Colorful </h4>
                        <p class="subtitle-collection-collections-section"> Descubre todos los productos de la colección Colorful </p>
                        <a href="/products/collections/:nameCollection?" class="link-collection-collections-section"> Ver colección > </a>
                    </article>

                    <!-- COLECCIÓN 4 -->
                    <article class="black-white-collection collection">
                        <h4 class="title-collection-collections-section"> Black & White </h4>
                        <p class="subtitle-collection-collections-section"> Descubre todos los productos de la colección Black & White </p>
                        <a href="/products/collections/:nameCollection?" class="link-collection-collections-section"> Ver colección > </a>
                    </article>

                </div>

                <!-- ENLACE DE LA SECCIÓN COLECCIONES -->
                <form action="/" method="POST">
                    <button class="button-seccion-collections"> Ver todos </button>
                </form>

            </section>

            <!-- SECCIÓN INFO TECHLOGIC.STORE -->
            <section class="info-company-section">

                <!-- CUADRO DE INFO 1 DE LA SECCIÓN INFO -->
                <article class="info-squart-info-section">
                    <h3 class="title-info-company-section"> Contáctanos </h3>
                    <p class="p-info-company-section"> info@techlogic.com </p>
                    <p class="p-info-company-section"> 111-2345678 </p>
                </article>

                <!-- CUADRO DE INFO 2 DE LA SECCIÓN INFO -->
                <article class="info-squart-info-section">
                    <h3 class="title-info-company-section"> Visítanos </h3>
                    <p class="p-info-company-section"> Calle 123 </p>
                    <p class="p-info-company-section"> Ciudad Unknown </p>
                </article>

                <!-- CUADRO DE INFO 3 DE LA SECCIÓN INFO -->
                <article class="info-squart-info-section">
                    <h3 class="title-info-company-section"> Horario </h3>
                    <p class="p-info-company-section"> Lunes a Sábado </p>
                    <p class="p-info-company-section"> 8am - 5pm </p>
                </article>

            </section>

        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

    </body>

</html>