@import url(../styles.css);
@import url(../partials/header.css);
@import url(../partials/footer.css);


.main-products{
    margin-top: 120px;
    margin-bottom: 20px;
}

.list-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.list-products img{
    width: 100%;
}

.product-article{
    width: 40vw;
    margin-bottom: 30px ;
}

.list-products p{
    height: 48px;
    text-align: center;
}

.icon-cart{
    margin: 0
}