@import url(../styles.css);
@import url(../partials/header.css);
@import url(../partials/footer.css);

ul {
  list-style: none;
}
.total-cart{
  margin: auto;
  position: relative;
  border-radius: 15px;
  width: 90%;
  padding: 0;
}
.cart-header {
  background-color: var(--negro);
  width: 100%;
  padding: 1.5rem;
  border-bottom: 2px solid var(--gris);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.my-cart {
  display: block;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  color: var(--blanco);
  font-size: 1.5rem;
}

.main-cart {
  width: 100%;
  padding-top: 180px;
  padding-bottom: 120px;
  background: #000000;
  background: linear-gradient(to top,#000000, #434343, #000000);
}
.icon-cant {
  color: var(--blanco);
  font-size: 12px;
}
.product-detail-cart {
  font-size: 12px;
}
.product-detail-cart a  	{
  color: var(--blanco);
  text-decoration: none;
}

.list-product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 20px;
}

.article {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: solid 1px rgb(255, 255, 255);
  max-width: 600px;
  /* width: 100%; */
  margin: auto;
}
.add-item-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.img-article {
  width: 100px;
  padding: 10px;
  
}
.item-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 5px;
  background: linear-gradient(to top, var(--negro), var(--azul-marino));
  border-radius: 10px;
  
  
}
.div-img-art{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.eliminar-producto {
  border: none;
  font-weight: 100;
  color: var(--celeste);
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  
}
.eliminar-producto:hover { 
  text-shadow: 0px 8px 8px rgba(196, 0, 0, 0.2);
  font-weight: 500;
  text-decoration: underline;
  
}
.item-cart:hover{
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
  border: solid 1px rgb(255, 255, 255);
  transition: 0.2s;
}

.article-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-right-width: 200px;
}
.add-item {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.add-item li {
  text-align: center;
}
.article-detail p {
  margin: 5px;
}
.title-product {
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.cantidad {
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}

.foot-product {
  display: flex;
  flex-direction: column;
}

.description-product {
  font-size: 14px;
  color: rgb(255, 255, 255);
}
/* ------------SECCION CIERRE DE CARRITO---------------- */
.liqu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.li-close-cart {
  margin-top: 15px;
}
.ul-close-cart {
  margin: auto;
}
.li-close-cart p{
  font-size: 20px;
  font-weight: 800;
  margin-top: 25px;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.title-close {
  text-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}
.close-cart {
  color: var(--blanco);
  width: 70%;
  padding: 5px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: flex-start;
}

/* --------SECCION TAMBIEN TE PUEDE INRESAR-------- */
.h3-seccion-plus {
  text-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}
.seccion-product-plus{
 
  height: auto;
  margin: auto;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 0px;
  background-color: var(--blanco);
  border-radius: 10px;
  padding: 10px;

}
.seccion-product-plus:hover{
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.products-plus {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: right;
}

.product-plus:hover .info-product-plus{
  transition: 0.5s;
  font-size: 14px;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-left: 15px;
}
.product-plus:hover .img-product-plus{
  cursor: pointer;
  width: 60%;
  transition: 0.5s;
  text-align: center;
}
.product-plus:hover .description-product-plus{
  display: block;
}
.img-product-plus{
  width: 50%;
  margin-left: 25%;
}

.info-product-plus{
  color: var(--azul-marino);
  font-size: 12px;
  text-align: center;
}

.title-product-plus{
  font-weight: 550;
  font-size: 13px;
  text-align: center;
}
.description-product-plus{
  display: none;
}
.icon-left-plus{
  position: absolute;
  top: 35%;
  right: 98%;
  font-size: 40px;
}
.icon-left-plus:hover{
  cursor: pointer;
  color: var(--celeste);
  font-size: 45px;
}
.icon-right-plus{
  position: absolute;
  top: 35%;
  right: -2.5%;
  font-size: 40px;
  
}
.icon-right-plus:hover{
  cursor: pointer;
  color: var(--celeste);
  font-size: 45px;
}

@media (min-width: 508px){
  .close-cart{
    max-width: 320px;
  }
  .seccion-product-plus{
    max-width: 75%;
  }
  

}
@media (min-width: 1050px) {
  .total-cart{
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center
  }
  .list-product{
    width: 70%;
  }
  .close-cart{
    margin-left: 30px;
    border: soli;
  }
  .articles{
    width: 100%;
    margin: auto;
  }
  .seccion-product-plus{
    max-width: 50%;
  }
 
}