@import url(../styles.css);
@import url(../partials/header.css);
@import url(../partials/footer.css);
@import url(productCart.css);

.boxed {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-productDetail {
    padding-bottom: 10px;
  }

  .main-product-detail{
    margin-top: 100px;
  }

  .image-cnt-product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel {
    width: 100%;
  }

  .image-carousel {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .cnt-product-detail{
    display: flex;
    width: 100%;
    background-color: var(--negro);
    justify-content: center;
    flex-direction: row;
  }

.cnt-product-detail p{
  text-align: center;
}

.prd-name-general{
  color: var(--celeste);
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 20px;

}

.prd-name{
  color: var(--blanco);
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.prd-price{
  color: var(--blanco);
  opacity: 0.9;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.prd-stars{
  display: flex;
  flex-direction: row;
  color: var(--blanco);
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.prd-buy{
  background-color: var(--celeste);
  color: var(--negro);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid var(--negro);
  border-radius: 8px;
  cursor: pointer;
  transition-property: background-color, color;
  transition: 2s;
}

.prd-buy p{
  font-size: 22px;
  margin: auto;
  text-align: center;
}

.prd-buy:hover {
  background-color: var(--azul-marino);
  color: var(--celeste);
}

.prd-add-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  color: var(--negro);
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 8px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition-property: background-color, color;
  transition: 2s;
}

.prd-add-cart:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.prd-add-cart button {
  border: none;
  font-size: 24px;
  background-color: transparent;
  transition: color 2s;
}

.prd-add-cart:hover button {
  color: var(--blanco);
}


.prd-add-cart i{
  color: var(--negro);
  font-size: 24px;
  margin-left: 10px;
  padding-left: 5px;
  transition: color 2s;
}

.prd-add-cart:hover button i {
  color: var(--blanco);
}

.button-edit {
  margin-bottom: 35px;
}

.prd-star-text{
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.prd-buy-cnt i{
  color: var(--blanco);
  font-size: 25px;
  margin-top: 25px;
  margin-left: 10px;


}

.prd-buy-cnt{
  display: flex;
  justify-content: row;
  align-items: center;
}

.cnt-number{
  border: 3px solid var(--blanco);
  /* width: 50px;
  height: 50px; */
  border-radius: 8px;
  margin-left: 18px;

}

.text-number{
  color: var(--blanco);
  font-size: 26px;
  /* margin-top: 4px;
  margin-left: 3px; */
  margin: auto;
  padding: 4px 14px;

}

.prd-features{
  border-top: 1px solid var(--blanco);
  display: flex;
  background-color: var(--negro);
  color: var(--blanco);
  font-size: 16px;
  justify-content: row;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;

}

.prd-features p {
  margin: auto 0;
}

.prd-features:last-child {
  border-bottom: 1px solid var(--blanco);
}

.icons-dots{
  margin-left: 3px;
  margin-right: 3px;
}

.button-props i:hover{
  font-size: 25px;
}

.button-props i {
  cursor: pointer;
  color: var(--blanco);
  font-size: 20px;

}

.button-props{
  background-color: transparent;
  border: none;
}

.icon-numbers{
  display: flex;
  flex-direction: row;

}

.icon-numbers i{
  color: white;
}

.icon-minus{
  position: relative;
  color: rgb(26, 173, 193);
  bottom: 10px; left: 25px;
  
  
}

.icon-minus i{
  color: var(--blanco);
  background-color: var(--gris);
  border-radius: 50%;
  padding: 1px 2px;
  font-size: 20px;
  cursor: pointer;
}

.icon-plus{
  position: relative;
  bottom: 10px; right: 17px;
  cursor: pointer;
}

.icon-plus i{
  color: var(--blanco);
  background-color: var(--gris);
  border-radius: 50%;
  padding: 1px 2px;
  font-size: 20px;
}

/* MEDIA QUERIES */

/* MEDIA QUERIES TABLETS */
/* @media (min-width: 768px) {

} */

/* MEDIA QUERIES DESKTOPS */
@media (min-width: 1050px) {

  .main-product-detail{
    margin-top: 130px;
  }

  .image-cnt-product-detail {
    padding: 0 40px;
    margin-bottom: 30px;
  }

  .slider {
    width: 60%;
  }

  .cnt-product-detail {
    width: 40%;
  }

}