<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Iniciar Sesión', stylesheet: 'users/loginRegister.css'}) %>

    <body class="body-register-login">

        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main class="main-register-login">
        <!-- ---------------------SECCION REGISTRO--------------------- -->
        <section class="register-login-box">
            <h3 class="register-login-text">INICIAR SESIÓN</h3>
            <!-- ---------------------IMAGEN DE PERFIL--------------------- -->
            <div class="user-profile-icon">
                <i class="fas fa-user-circle"></i>
            </div>
           <!--  <img
            class="user-profile-picture"
            src="/img/usuario-predeterminado.jpg"
            alt="imagen de perfil"
            /> -->
            <!-- ---------------------FORM REGISTRO--------------------- -->
            <form action="/login" method="POST" class="register-login-form">
            <input
                type="text"
                name="name"
                id="name"
                placeholder="Nombre de Usuario"
                class="register-login-form-item"
            />
            <input
                type="password"
                name="password"
                id="password"
                placeholder="Contraseña"
                class="register-login-form-item"
            />
            <!-- ---------------------RECORDAR USUARIOS--------------------- -->
            <div class="user-save">
                <input type="radio" name="user-save" id="user-save" />
                <label for="user save"
                >Recordar usuario</label
                >
            </div>
            <!-- ---------------------NO TENGO CUENTA Y OLVIDE MI CONTRASEÑA--------------------- -->
            <div class="links-register-password">
                <p><a href="/users/register">No tengo cuenta</a></p>
                <p><a href="#">Olvide mi contraseña</a></p>
            </div>
            <!-- ---------------------BOTON PARA INICIAR SESION--------------------- -->
            <div class="button-cart-div button-login-register">
                <form action="/" method="POST">
                    <button type="submit" class="button-cart">
                        Iniciar sesión
                    </button>
                </form>
            </div>
            </form>
        </section>
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>

  </body>
</html>