<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {title: 'Registrate', stylesheet: 'users/loginRegister.css'}) %>

    <body class="body-register-login">

    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- MAIN -->
    <main class="main-register">
      <!-- ---------------------SECCION REGISTRO--------------------- -->
      <section class="register-login-box">
        <h3 class="register-login-text">REGISTRATE</h3>
        <!-- ---------------------IMAGEN DE PERFIL--------------------- -->
        <div class="user-profile-icon">
                <i class="fas fa-user-circle"></i>
        </div>
        <!-- <img
          class="user-profile-picture"
          src="/img/usuario-predeterminado.jpg"
          alt="imagen de perfil"
        /> -->
        <!-- ---------------------FORM REGISTRO--------------------- -->
        <form action="/register" method="POST" class="register-login-form">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nombre de Usuario"
            class="register-login-form-item"
          />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            class="register-login-form-item"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            class="register-login-form-item"
          />
          <!-- ---------------------TERMINOS Y CONDICIONES--------------------- -->
          <div class="terms-conditions">
            <input type="radio" name="terms-conditions" id="terms-conditions" />
            <label for="terms-conditions"
              >Aceptar <a href="#">Terminos y condiciones</a></label
            >
          </div>
          <!-- ---------------------BOTON PARA ENVIAR--------------------- -->
          <div class="button-cart-div">
            <form action="/" method="POST">
                <button type="submit" class="button-cart">
                    Registrarse
                </button>
            </form>
          </div>
        </form>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>

  </body>
</html>