<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('../partials/head', {title: 'Registrate', stylesheet:
  'users/loginRegister.css'}) %>

  <body class="body-register-login">
    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- MAIN -->
    <main class="main-register">
      <!-- ---------------------SECCION REGISTRO--------------------- -->
      <section class="register-login-box">
        <!-- ---------------------FORM REGISTRO--------------------- -->
        <form action="/register" method="POST" class="register-login-form">
          <h3 class="register-login-text">REGISTRATE</h3>
          <!-- ---------------------IMAGEN DE PERFIL--------------------- -->
          <div class="upload-image-user">
            <div class="user-profile-icon">
              <i class="fas fa-user-circle"></i>
            </div>
            <label for="image"><i class="fas fa-camera upload-icon"></i></label>
            <input type="file" name="image" id="image" class="input-image"/>
          </div>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nombre Completo"
            class="register-login-form-item"
          />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            class="register-login-form-item"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            class="register-login-form-item"
          />
          <!-- ---------------------PERFIL DE USUARIO--------------------- -->
          <h2 class="register-login-text user-profile-text">
            Perfil de usuario
          </h2>
          <div class="terms-conditions" id="profile-user">
            <div>
              <input type="radio" name="rol" id="rol" value="admin" />
              <label for="terms-conditions">Administrador</label>
            </div>
            <div>
              <input type="radio" name="rol" id="rol" value="comprador" />
              <label for="terms-conditions">Comprador</label>
            </div>
          </div>
          <!-- ---------------------TERMINOS Y CONDICIONES--------------------- -->
          <div class="terms-conditions">
            <input type="radio" name="terms-conditions" id="terms-conditions" />
            <label for="terms-conditions"
              >Aceptar <a href="#">Terminos y condiciones</a></label
            >
          </div>
          <!-- ---------------------BOTON PARA ENVIAR--------------------- -->
          <div class="button-cart-div button-login-register">
            <form action="/" method="POST">
              <button type="submit" class="button-cart">Registrarse</button>
            </form>
          </div>
        </form>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
